* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

header {
  padding: 30px;
  text-align: center;
  background-color: lightgreen;
}

h1 {
  display: flex;
  justify-content: center;
  color: #333;
  flex: 1;
}

body {
  background-color: #333;
  flex-wrap: wrap;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  font-family: sans-serif;
  text-decoration: none;
  color: initial;
  padding: 2px;
  border-radius: 5px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 5px;
}

input {
  border-radius: 5px;
}

.add-filter {
  padding: 15px;
}

.add-form {
  border: 1px solid lightgreen;
  border-radius: 10px;
  background-color: #31353d;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  margin: 5px;
}

.add-form > * {
  padding: 10px;
  margin: 5px;
}

.bookmark-list {
  list-style-type: none;
  background-color: #31353d;
  flex-direction: column;
  color: white;
  padding: 15px;
}

ul,
li {
  width: 100%;
  border: 1px solid lightgreen;
  border-radius: 10px;
  margin: 5px;
  font-display: px;
}

ul,
li > * {
  padding: 10px;
}

.name-rate {
  display: flex;
  justify-content: space-around;
}

.desc-rate-update {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.visit-remove-collapse {
  display: flex;
  justify-content: space-around;
}
