

.container{
  border: 1px black solid;
}

ul{
  list-style-type: none;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

 /* .name-rate {
  margin-bottom: 20px;
  border: 1px solid black;
  padding-top:20px;
  padding-bottom:20px;
  color: black;
  background-color: slategrey
} */

.name-rate > .list-name{
  border-right:1px solid black;
  padding-top:3%;
  padding-bottom:3%;
  padding-left:15%;
  padding-right:10%;
  margin-right:10%;
  margin-left:0;
}


.expandedList {
  margin-bottom: 20px;
  border: 1px solid gray;
  padding: 20px;
  color: black;
}

.editMode{
  width:60%;
}

.min-set{
  width:35%;
}

.bookmark-desc {
  width:80%;
  display:block;
}

h1{
  text-align:center;
}

.js-bookmark-item, .js-bookmark-item__expanded {
  display: block;
  color: black;
  font-size: 20px;
  margin-bottom: 15px;
  background-color: slategrey;
}

.add-form{
  background-color: silver;
}

 #js-add-entry > * {
  display:block;
  width:100%;
  background-color: yellow;
  margin-bottom: 10px;
}

#js-add-entry > button{
  background-color: lightgreen;
}

form {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

body{
  background-color: lightseagreen;
}

